.button {
    border: none;
    border-radius: 0.3rem;
    transition: all 300ms ease;
    letter-spacing: 0.02rem;
    font-size: 1rem;
    color: $dark-blue;

    &_add {
        color: white;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        text-transform: uppercase;
        background-color: $dark-blue;

        &:hover {
            background-color: $dark-blue-2;
        }
        @media (min-width: 640px) {
            font-size: 1rem;
        }
    }

    &_trash {
        background-image: url('../../images/icons/trash.png');
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 5%;
        background-color: transparent;
        border-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1rem;
        position: absolute;
        top: 1rem;
        right: 1rem;

        &:hover {
            border: 1px solid rgb(226, 226, 226);
        }
    }

    &_small {
        background-color: $red;
        padding: 0.2rem 1rem;
        color: white;
        border-radius: 1rem;

        &:disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        &:hover {
            background-color: $red-2;
        }
    }
}
