:root {
    // for Firefox
    scrollbar-width: thin !important;
}

::-webkit-scrollbar {
    width: 14px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: $light-yellow;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $orange;
    border-radius: 10px;
    border: 2px solid $light-yellow;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $orange-2;
}
