$dark-blue: #265c72;
$dark-blue-2: #205063;
$dark-blue-3: #143e4e;
$dark-grey: rgb(49, 49, 49);
$light-grey: rgb(250, 250, 250);
$grey: rgb(168, 168, 168);
$grey-2: rgb(133, 133, 133);
$grey-3: rgb(107, 107, 107);
$red: #a81c25;
$red-2: #8f151e;
