$dark-blue: #2d5774;
$dark-blue-2: #24465f;
$dark-blue-3: #1c384d;

$dark-grey: rgb(49, 49, 49);
$light-grey: rgb(250, 250, 250);

$grey: rgb(168, 168, 168);
$grey-2: rgb(133, 133, 133);
$grey-3: rgb(107, 107, 107);

$red: #a81c25;
$red-2: #8f151e;
