@import './abstracts/abstracts-dir';
@import './components/components-dir';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    color: $dark-grey;
    background: $light-grey;
}

button {
    font-family: 'PT Sans Narrow', sans-serif;
    cursor: pointer;
}

.App {
    width: 96%;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 640px) {
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-template-columns: 30% 1fr;
        column-gap: 0rem;
    }

    @media (min-width: 769px) {
        grid-template-columns: 25% 1fr;
        column-gap: 2rem;
        margin: 2rem auto;
    }
    @media (min-width: 980px) {
        width: 80%;
        margin: 3rem auto;
    }
}

h1 {
    font-family: 'PT Serif', serif;
    margin-bottom: 0.5rem;

    @media (min-width: 980px) {
        margin-bottom: 1.5rem;
    }
}
